Package: org.thebigboss.classicretweet
Version: 0.6
Section: Tweaks
Maintainer: BigBoss <bigboss@thebigboss.org>
Depends: firmware (>= 4.0), mobilesubstrate
Architecture: iphoneos-arm
Name: Classic Retweet
Description: use 'RT' in official Twitter app
Sponsor: thebigboss.org <http://thebigboss.org>
Author: Qusic <hi@qusic.me>
Tag: purpose::extension
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=classicretweetDp
dev: qusic
homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=classicretweetDp
